appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
boto3==1.10.8
botocore==1.13.8
click==7.1.1
docutils==0.15.2
isort==4.3.21
jmespath==0.9.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
pathspec==0.7.0
python-dateutil==2.8.0
regex==2020.2.20
s3transfer==0.2.1
six==1.12.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.6
wrapt==1.11.2
